* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

a, a:hover {
  text-decoration: none !important;
  color: inherit !important; }

ul {
  list-style: none; }

#header {
  color: #fff; }

#nav, .nav-menu, .nav-left {
  display: flex; }

#nav {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.12);
  position: absolute; }

#nav, .nav-left {
  align-items: center;
  width: 100%; }

.header-logo {
  padding-left: 15px; }
  .header-logo img {
    width: 160px; }

.sub-nav, .item-info {
  display: none; }

.nav-menu {
  padding: 0 15px;
  margin-bottom: 0;
  width: 100%; }

.nav-item:hover .sub-nav {
  display: block; }

.nav-item > a {
  text-transform: uppercase; }

.nav-item a {
  padding: 25px 15px;
  display: inline-block;
  line-height: 14px;
  letter-spacing: 2px;
  font-size: 14px;
  color: #fff; }

.sub-nav, .item-info {
  width: 190px;
  z-index: 2;
  position: absolute;
  text-transform: capitalize; }
  .sub-nav li:hover, .item-info li:hover {
    background-color: #f9f9f9; }
  .sub-nav > li, .item-info > li {
    padding: 15px 25px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 2px 5px #f1f1f1; }
    .sub-nav > li a, .item-info > li a {
      font-size: 14px;
      padding: 0;
      margin: 0;
      font-weight: normal;
      letter-spacing: 2px;
      color: #9a9a9a !important;
      display: block; }
  .sub-nav .item-info, .item-info .item-info {
    margin-left: 165px;
    top: 0;
    padding-top: 0;
    padding-left: 25px;
    width: 220px; }
  .sub-nav .hover-info:hover .item-info, .item-info .hover-info:hover .item-info {
    display: block; }

.search1 a::after {
  content: "HOT";
  background-color: #f76570;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 5px;
  margin-left: 25px; }

.about-us a::after {
  content: "NEW";
  background-color: #1bbc9b;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 5px;
  margin-left: 20px; }

.carosel a::after {
  content: "BEST";
  float: right;
  background-color: #14b9d5;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 5px; }

.hover-info > a::after {
  content: "";
  float: right;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #9a9a9a; }

.nav-option i {
  font-size: 26px;
  color: #fff; }

.book-now-btn a {
  background-color: #ba71da;
  padding: 12px 18px 10px;
  border-radius: 30px;
  margin-left: 25px;
  margin: 13px 0 0 25px; }

#header-slider {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 136%;
  padding-top: 60%;
  padding-right: 20px;
  background-image: url("../../assets/image/parallax-2.jpg"); }

.slider-content {
  position: absolute;
  top: 60%;
  width: 100%;
  z-index: 1;
  text-align: center; }
  .slider-content h1 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-bottom: 35px; }
  .slider-content u {
    position: relative;
    text-decoration: none;
    z-index: 1; }
  .slider-content u::after {
    background-color: #ba71da;
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 12px;
    z-index: -1; }
  .slider-content h6 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 4px;
    font-weight: normal; }
  .slider-content .search {
    justify-content: center;
    margin-top: 65px;
    position: relative;
    display: inline-block; }
    .slider-content .search select {
      cursor: pointer;
      background-color: #f9f9f9;
      border-radius: 30px;
      padding: 10px 20px;
      color: #a3a3a3;
      appearance: none;
      width: 360px;
      height: 45px;
      font-size: 16px;
      outline: none;
      border: none; }
      .slider-content .search select option {
        color: inherit; }
  .slider-content .ti-search {
    position: absolute;
    right: 20px;
    font-size: 18px;
    color: #a3a3a3;
    top: 14px; }

.tourist-act {
  display: flex;
  margin-top: 55px;
  text-transform: uppercase;
  justify-content: center;
  color: #fff; }
  .tourist-act .act-item {
    padding: 20px;
    background: rgba(0, 0, 0, 0.21);
    margin: 15px;
    width: 110px;
    height: 100px;
    text-align: center; }
    .tourist-act .act-item img {
      width: 40px; }
    .tourist-act .act-item p {
      font-size: 11px;
      margin-top: 5px; }
